.nav.navbar.nav-default.row
    i.fa.fa-bars
    input.input-form(placeholder="Search")
    .personal.ml-auto.navbar
        .personal__item
            i.fa.fa-signal
            sup.badge.badge-danger 0
        .personal__item
            i.fa.fa-bell
            sup.badge.badge-primary 1
        .personal__item.nav-item
            .dropdown
                a.text-dark.nav-link.dropdown-toggle.bg-light(data-toggle="dropdown" id="navbarDropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
                    i.fa.fa-user-circle
                .dropdown-menu.dropdown-menu-right(aria-labelledby="navbarDropdown")
                    .dropdown-item info
                    .dropdown-item info
