.col-lg-2.sidebar
    .sidebar-logo
        h6.push-top-bottom
            strong RMS
    // Sidebar Navigation
    ul.sidebar-nav
        li.sidebar-nav__item
            ul
                li
                    a
                        i.fas.fa-home
                        span Home

                li
                    a
                        i.fas.fa-tachometer-alt
                        span DashBoard
        li.sidebar-nav__item
            h6.sidebar-nav__item__header MANAGE RECRUMENT
            ul
                li
                    a
                        i.fa.fa-suitcase
                        span Job

                li
                    a
                        i.fa.fa-users
                        span User

                li
                    a
                        i.fa.fa-file
                        span Apply
                li
                    a
                        i.fa.fa-calendar-alt
                        span Calendar
                li
                    a
                        i.fa.fa-envelope
                        span Email
        li.sidebar-nav__item
            h6.sidebar-nav__item__header MANAGE RECRUMENT
            ul
                li
                    a
                        i.fa.fa-suitcase
                        span Job

                li
                    a
                        i.fa.fa-users
                        span User

                li
                    a
                        i.fa.fa-file
                        span Apply
                li
                    a
                        i.fa.fa-calendar-alt
                        span Calendar
                li
                    a
                        i.fa.fa-envelope
                        span Email
    // END Sidebar Navigation