@charset "utf-8";
// ==========================================================================
// $vender
// ==========================================================================
@import "vendor/index";
// ==========================================================================
// $utilities
// ==========================================================================
@import 'utilities/index';
// ==========================================================================
// $Base
// ==========================================================================
@import 'base/index';
//// ==========================================================================
//// the header
//// ==========================================================================
//@import "modules/header";
//@import "modules/link-intro";
////==========================================================
//all page page
//===========================================================
//@import "pages/homes/index";
//@import "pages/detail/index";
//============================================================
// the footer of page
//============================================================
//@import "modules/footer";
// ==========================================================
//animation
//===========================================================
@import "base/animations";

//////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
//.row{
//  margin:0;
//}
body {
  background-color: #4D5573;
  height: 100%;
  width: 100%;
  //overflow: hidden;
  font-family:'Merriweather', serif;
}

.sidebar {
  color: white;
  height: 100%;
  padding: 0;
  &-logo {
    background-color: #323953;
    padding: 0 0 20px 20px;
    width: 100%;
    padding: 4px 0;
    margin: 0;
    h6 strong {
      font-weight: 400;
      font-size: 25px;
    }
  }
  &-nav {
    padding: 20px 0 20px 20px;

    font-weight: 400;
    font-size: 14px;
    &__item {
      li {
        padding-bottom: 13px;
        &:hover {
          border-left: solid 4px #4f95ff;
          color: white;
          font-style: italic;
          background-color: #394263;
        }
        &:hover i{
          display: none;
        }
        a{
          font-size: 14px;
          font-weight: 400;
        }
      }
      &__header {
        font-weight: 700;
        font-size: 14px;
        padding-bottom: 13px;
        opacity: 0.8;
      }
      //
      a {
        i {
          padding-right: 20px;
        }
      }
    }
  }
}


//page content :common
.page_content {
  background-color: #eaedf1;
  height: 100%;

}

//job ....
.job {
  &__item {
    overflow: hidden;
    //border-radius: 40px !important;
    &__header {
      padding: 8px 0;
      color: white;
      font-weight: 400;
      font-size: 14px;
      span {
        margin-left: 5px;
        font-size: 12px;
        font-weight: 300;

      }
    }
    &__content {
      background-color: white;
      padding: 13px 0;
      font-size: 25px;
    }
    &:nth-child(1) {
      .job__item__header {
        background-color: #28a745;
      }
      .job__item__content {
        color: #28a745;
      }
    }
    &:nth-child(2) {
      .job__item__header {
        background-color: #cc9b40;
      }
      .job__item__content {
        color: #e34b28;
      }
    }
    &:nth-child(3) {
      .job__item__header {
        background-color: #e34b28;
      }
    }
    &:nth-child(4) {
      .job__item__header {
        background-color: #482ba7;
      }
    }
  }
}

.information-job {
  margin: 20px 0;
  background-color: white;
  padding: 20px 15px;
  &__header {
    @include underline;
    width: 100%;
    text-align: left;
    color: #1e145a;
    font-weight: 700;
    i {
      padding-right: 10px;
    }
  }

  .filter {
    padding-top: 30px;
    padding-bottom: 10px;
    .input-group-text {
      background-color: transparent;

    }
    .form-control{
      font-weight: 700;
      font-size: 14px;

    }
    button{
      width: 100%;
    }
  }

  table {
    //th{
    //  width: 100%;
    //}
    thead {

    }
    tbody {
      font-size: 14px;
      font-weight: 400;

      .label, span {
        display: inline-block;
      }
    }
  }

}

.nav{
  background-color: white;
  border: none;
  margin-bottom: 20px;
  padding: 10px 0;
  i.fa-bars{
    font-size: 15px;
    padding:0 15px;
  }
  input{
    border: none;
    width: 60%;
    &::placeholder{
      padding-left:5%;
    }
  }
  .personal{
    padding: 0;
    .navbar-nav{
      flex-direction: row;
    }
    &__item{
      padding: 0 10px;

    }
  }
}


////// personal page ////////////
.candidate {
  //font-family: "Open Sans";
  width: 100%;
  font-size: 13px;
  overflow: hidden;
  //background-color: white;
  color: #1e145a;
  &__header{
    @include font(15px,700, null,null){
      white-space:nowrap;
    };

  }
  &__content{
    overflow: hidden;
    //common code for item
    &__item{
      padding: 10px 0;
      margin: 0 2%;
      p:nth-child(1){
        @include font(14px,700);
        text-align: right;
      }
      p:nth-child(2){
        @include font(14px);
        text-align: left;
      }
    }
    //code for specific item
    &__img{
      padding: 0;//remove padding for img
      width: 100%;
      height: 100%;
      object-fit: cover;
      clip-path: circle();
      overflow: hidden;
    }
    &__name{
      @include font(25px,700,null,null){
        white-space:nowrap;
      };
    }
    &__code,&__email,&__phone{
      p:nth-child(2) {
        font-style: italic;
      }
    }
    &__status{
      p:nth-child(2){
        border-left: solid 4px #ffb421;
        text-transform: uppercase;
        font-weight: bolder;
        padding: 0;
        color: #ff991d;
      }
    }
    &__job{
      p:nth-child(1){
        font-size: 13px;
      }
      p:nth-child(2){
        @include font(13px,bold );
      }
    }
    &__cv,&__history{
      p:nth-child(2) {
        @include font(13px, bold, #3ad5ff);
      }
    }
  }
}

.job-aplied{
  //background-color: white;
  &__header{
    font-size: 15px;
  }
  &__content{
    font-size: 13px;
    &__item{
      p:first-child{
        text-align: right;
      }
      p:nth-child(2){
        text-align: left;
        border-left: solid 4px #ffb421;
        text-transform: uppercase;
        font-weight: bolder;
        padding: 0px;
        margin-bottom: 8px;
        color: #ff991d;
        height: fit-content;
      }
    }
  }
}

////////
.reviews{
  font-size: 14px;
  button{
    font-size: 13px;
  }
}
.step {
  font-size: 12px;

  .progress{
    height: 5px;
  }
  .one, .two, .three,.four {
    position: absolute;
    margin-top: -10px;
    z-index: 1;
    height: 20px;
    width: 20px;
    border-radius: 50%;

  }
  .one {
    left: 15%;
  }
  .two {
    left: 37.5%;
  }
  .three {
    left: 60%;
  }
  .four{
    left: 85%;
  }
  &__header{
    font-size: 15px;
    font-weight: bold;
  }
  &__name{
    text-align: center;
    color: #4cb4ff;
  }
  &__button button{
    font-size: 12px;

  }

}

//status== reivew
.review{
  &__header{
    font-size: 15px;
    .text-right button{
      border: solid 1px #a3a3a3;
    }
  }
  &__content {
    label {
      font-size: 14px;
    }
    input{
      cursor: pointer;
    }
    .custom-control-label:before {
      background-color: white;
    }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
      background-color: #cc9b40;
    }
    //.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    //  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='red' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
    //}
    .custom-control-input:active ~ .custom-control-label::before {
      background-color: green;
    }

    /** focus shadow pinkish **/
    .custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
      box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(255, 0, 247, 0.25);
    }
  }
}

.mail{
  &__header{
    .text-right button{
      font-size: 15px;
      border: solid 1px #a3a3a3;
    }
  }
}
.note{
  &__header{
    font-size: 15px;
  }
  &__content{
    img{
      width: 100%;
      height: auto;
      //object-fit: cover;
      clip-path: circle();
    }

  }
}