
////// personal page ////////////
.candidate {
  //font-family: "Open Sans";
  width: 100%;
  font-size: 13px;
  overflow: hidden;
  //background-color: white;
  color: #1e145a;
  &__header{
    @include font(15px,700, null,null){
      white-space:nowrap;
    };

  }
  &__content{
    overflow: hidden;
    //common code for item
    &__item{
      padding: 10px 0;
      margin: 0 2%;
      p:nth-child(1){
        @include font(14px,700);
        text-align: right;
      }
      p:nth-child(2){
        @include font(14px);
        text-align: left;
      }
    }
    //code for specific item
    &__img{
      padding: 0;//remove padding for img
      width: 100%;
      height: 100%;
      object-fit: cover;
      clip-path: circle();
      overflow: hidden;
    }
    &__name{
      @include font(25px,700,null,null){
        white-space:nowrap;
      };
    }
    &__code,&__email,&__phone{
      p:nth-child(2) {
        font-style: italic;
      }
    }
    &__status{
      p:nth-child(2){
        border-left: solid 4px #ffb421;
        text-transform: uppercase;
        font-weight: bolder;
        padding: 0;
        color: #ff991d;
      }
    }
    &__job{
      p:nth-child(1){
        font-size: 13px;
      }
      p:nth-child(2){
        @include font(13px,bold );
      }
    }
    &__cv,&__history{
      p:nth-child(2) {
        @include font(13px, bold, #3ad5ff);
      }
    }
  }
}

.job-aplied{
  //background-color: white;
  &__header{
    font-size: 15px;
  }
  &__content{
    font-size: 13px;
    &__item{
      p:first-child{
        text-align: right;
      }
      p:nth-child(2){
        text-align: left;
        border-left: solid 4px #ffb421;
        text-transform: uppercase;
        font-weight: bolder;
        padding: 0px;
        margin-bottom: 8px;
        color: #ff991d;
        height: fit-content;
      }
    }
  }
}

////////
.reviews{
  font-size: 14px;
  button{
    font-size: 13px;
  }
}
.step {
  font-size: 12px;

  .progress{
    height: 5px;
  }
  .one, .two, .three,.four {
    position: absolute;
    margin-top: -10px;
    z-index: 1;
    height: 20px;
    width: 20px;
    border-radius: 50%;

  }
  .one {
    left: 15%;
  }
  .two {
    left: 37.5%;
  }
  .three {
    left: 60%;
  }
  .four{
    left: 85%;
  }
  &__header{
    font-size: 15px;
    font-weight: bold;
  }
  &__name{
    text-align: center;
    color: #4cb4ff;
  }
  &__button button{
    font-size: 12px;

  }

}

//status== reivew
.review{
  &__header{
    font-size: 15px;
    .text-right button{
      border: solid 1px #a3a3a3;
    }
  }
  &__content {
    label {
      font-size: 14px;
    }
    input{
      cursor: pointer;
    }
    .custom-control-label:before {
      background-color: white;
    }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
      background-color: #cc9b40;
    }
    //.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    //  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='red' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
    //}
    .custom-control-input:active ~ .custom-control-label::before {
      background-color: green;
    }

    /** focus shadow pinkish **/
    .custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
      box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(255, 0, 247, 0.25);
    }
  }
}

.mail{
  &__header{
    .text-left{
      font-size: 15px;
    }
    .text-right button{
      border: solid 1px #a3a3a3;
    }
  }
}
.note{
  &__header{
    font-size: 15px;
  }
  &__content{
    img{
      width: 100%;
      height: auto;
      //object-fit: cover;
      clip-path: circle();
    }

  }
}